.fullGame {
  width: 720px;
  height: 720px;
  margin-top: 40px;
  background-color: rgb(4, 4, 4);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 10px;
  margin-left: 30%;

}

h1 {
  color: white;
  font-family: "Roboto Condensed";
  text-align: center;
}

body{
  background-color: rgb(0, 0, 0);
}
.buttonOne {
  height: 350px;
  width: 350px;
  background-color: rgb(255, 64, 64);
  margin-left: -2.2%;
  font-family: "Roboto Condensed";
  font-size: 2em;
  text-align: center;
  color:black;

}
.buttonTwo {
  height: 350px;
  width: 350px;
  background-color: rgb(0, 117, 255);
  margin-left: 50%;
  margin-top: -52.2%;
  font-family: "Roboto Condensed";
  font-size: 2em;
  text-align: center;
  color: black;
}
.buttonThree {
  height: 350px;
  width: 350px;
  background-color: rgb(242, 255, 0);
  margin-left: -2.2%;
  font-family: "Roboto Condensed";
  font-size: 2em;
  text-align: center;
  color: black;
}
.buttonFour {
  height: 350px;
  width: 350px;
  background-color: rgb(0, 255, 64);
  margin-left: 50%;
  margin-top: -52.3%;
  font-family: "Roboto Condensed";
  font-size: 2em;
  text-align: center;
  color:black;
}
h2 {
  font-size: 28px;
  font-family: "Roboto Condensed";
  overflow:hidden;
  margin-top: -35%;
  margin-left: 2%;
  color: white;

}
a, a:hover, a:active, a:focus {
  color: white;
  text-decoration: none;
}
select {
  margin-left: 2%;
  font-size: 2em;
}
.start {
	-moz-box-shadow: 0px 4px 0px -2px #ffffff;
	-webkit-box-shadow: 0px 4px 0px -2px #ffffff;
	box-shadow: 0px 4px 0px -2px #ffffff;
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:20px 31px;
	text-decoration:none;
  margin-left: 2%;
  margin-top: 1%;
}
.start:hover {
  color: white;
  text-decoration:none;

}
.start:focus {
  text-decoration: none;
  color: white;
}
.start:active {
	position:relative;
	top:1px;
  text-decoration: none;
}


#buttonOneHit {
  background-color: rgb(255, 113, 113);
}
#buttonTwoHit {
  background-color: rgb(70, 155, 255);
}
#buttonThreeHit {
  background-color: rgb(241, 247, 120);
}
#buttonFourHit {
  background-color: rgb(80, 255, 124);
}
h4 {
  color: black;
}
.gameCount {
  background-color: red;
  border-color: white;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  margin-left: 35px;
  width: 200px;
  text-align: center;
}
